.container {
  & > :not(style) {
    display: flex;
    flex-direction: column;
    width: 290px;
    height: 723px;
  }
}

.paper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.filtersContent {
  padding: 18px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 18px;
}
